[submodule "Tomat.TatsuSharp"]
	path = Tomat.TatsuSharp
	url = https://github.com/TomatCord/Tomat.TatsuSharp.git
[submodule "Victoria"]
	path = Victoria
	url = https://github.com/TomatCord/Victoria.git
[submodule "Tomat.Framework"]
	path = Tomat.Framework
	url = https://github.com/TomatCord/Tomat.Framework.git
